[submodule "mpistream"]
	path = mpistream
	url = git@github.com:kaityo256/mpistream.git
[submodule "smr"]
	path = smr
	url = git@github.com:kaityo256/smr.git
[submodule "sudoku_lib"]
	path = sudoku_lib
	url = git@github.com:kaityo256/sudoku_lib.git
